<div id="cont" class="container-fluid text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="overlay-details" [hidden]="!showOverlay">
        <div *ngIf="activityDetails; then activityTrue; else activityFalse"></div>
        <ng-template #activityTrue>
          <div class="overlay-modal">
            <mat-accordion multi="true" class="overlay-accordion">
              <div
                *ngIf="
                  activityDetails.navigationExtras;
                  then navigationTrue;
                  else navigationFalse
                "
              ></div>
              <ng-template #navigationTrue>
                <div class="overlay-header">
                  <button class="overlay-close" (click)="closeOverlay()">
                    <mat-icon class="white-icon">close</mat-icon>
                  </button>
                  <h2>{{ activityDetails.navigationExtras.dimension }}</h2>
                  <h3>{{ activityDetails.navigationExtras.subDimension }}</h3>
                  <h4>{{ activityDetails.navigationExtras.activityName }}</h4>
                </div>
              </ng-template>
              <ng-template #navigationFalse>
                <div class="overlay-header">
                  <button class="overlay-close" (click)="closeOverlay()">
                    <mat-icon class="white-icon">close</mat-icon>
                  </button>
                  <h2>Nothing to show</h2>
                </div>
              </ng-template>

              <!-- Example Expansion Panels -->
              <mat-expansion-panel
                [expanded]="true"
                *ngIf="activityDetails.description"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Description</b>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <p [innerHTML]="activityDetails.description"></p>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </ng-template>
        <ng-template #activityFalse>
          <div class="overlay-modal">
            <button class="overlay-close" (click)="closeOverlay()">
              <mat-icon class="white-icon">close</mat-icon>
            </button>
            <mat-expansion-panel [expanded]="false" hideToggle disabled>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Nothing to show</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </div>
        </ng-template>
      </div>

      <!-- Chart -->
      <div id="chart" class="heatmapClass">
        <div class="right-panel">
          <!-- Team Filter -->
          <div class="team-filter">
            <mat-form-field class="team-chip-list">
              <mat-label>Team Group Filter</mat-label>
              <mat-chip-list selectable>
                <mat-chip
                  #c="matChip"
                  (click)="toggleTeamGroupSelection(c)"
                  selected
                >
                  All
                </mat-chip>
                <mat-chip
                  #c="matChip"
                  *ngFor="let group of teamGroups | keyvalue: unsorted"
                  (click)="toggleTeamGroupSelection(c)"
                >
                  {{ group.key }}
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Team Filter</mat-label>
              <mat-chip-list selectable multiple>
                <mat-chip
                  #c="matChip"
                  *ngFor="let team of teamList"
                  (click)="toggleTeamSelection(c)"
                  selected
                >
                  {{ team }}
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>
          </div>

          <!-- Buttons Below Selection Div -->
          <div class="button-container">
            <button
              class="normal-button"
              mat-raised-button
              (click)="ResetIsImplemented()"
            >
              Reset (Back to generated.yaml)<br>
              (refresh page after click)
            </button>
            <button
              class="normal-button"
              mat-raised-button
              (click)="saveEditedYAMLfile()"
            >
              Download 2 YAML files:<br />
              1) with date (backup)<br />
              2) to save over current generated.yaml<br>
              (update over with same name)
            </button>
          </div>
        </div>
      </div>

      <!-- Example Card -->
      <mat-card class="example-card" *ngIf="showActivityCard">
        <mat-card-title-group>
          <mat-card-title>{{ cardHeader }}</mat-card-title>
          <mat-card-subtitle>{{ cardSubheader }}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content
          *ngFor="let activity of activityData; index as activityIndex"
        >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button
                  class="title-button"
                  (click)="
                    $event.preventDefault();
                    openActivityDetails(
                      currentDimension,
                      cardHeader,
                      activity['activityName']
                    )
                  "
                >
                  {{ activity['activityName'] }}
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <ul class="team-list">
                <li *ngFor="let teamname of teamVisible">
                  <mat-checkbox
                    [checked]="activity.teamsImplemented[teamname]"
                    color="primary"
                    (click)="
                      this.teamCheckbox(activityIndex, teamname);
                      $event.preventDefault();
                    "
                  >
                    {{ teamname }}
                  </mat-checkbox>
                </li>
              </ul>
              <b *ngIf="teamVisible.length === 0">
                No Teams Selected. Please select a team from the filters above.
              </b>
            </ng-template>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>